<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quanyou.qup.demo.mapper.DemoMapper">

    <sql id="BaseColumnSql">
		id,code,name,type_id,data_status,object_version_number,sort,create_by,create_time,last_update_by,last_update_time
	</sql>

    <sql id="DtoBaseColumnSql">
		t1.id,t1.code,t1.name,t1.type_id,t1.data_status,t1.sort
	</sql>

    <sql id="BaseValuesSql">
		#{id},#{code},#{name},#{typeId},#{dataStatus},#{sort},#{objectVersionNumber},#{createBy},#{createTime},#{lastUpdateBy},#{lastUpdateTime}
	</sql>

    <insert id="insert" parameterType="com.quanyou.qup.demo.entity.Demo">
        insert into demo (
        <include refid="BaseColumnSql"/>
        )values(
        <include refid="BaseValuesSql"/>
        )
    </insert>

    <update id="update" parameterType="com.quanyou.qup.demo.entity.Demo">
        update demo
        <set>
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="typeId != null">type_id = #{typeId},</if>
            <if test="dataStatus != null">data_status = #{dataStatus},</if>
            <if test="lastUpdateTime != null">last_update_time = #{lastUpdateTime},</if>
            <if test="lastUpdateBy != null">last_update_by = #{lastUpdateBy},</if>
            <if test="sort != null">sort = #{sort},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="string">
		delete from demo where id = #{id}
	</delete>

    <delete id="deleteByPrimaryKeys" parameterType="string">
		delete from demo where id in
		<foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
	</delete>

    <select id="selectByPrimaryKey" parameterType="string" resultType="com.quanyou.qup.demo.entity.Demo">
        select
        <include refid="BaseColumnSql"/>
        from demo
        where id = #{id}
    </select>

    <select id="selectByPrimaryKeys" parameterType="string" resultType="com.quanyou.qup.demo.entity.Demo">
        select
        <include refid="BaseColumnSql"/>
        from demo
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectById" parameterType="string" resultType="com.quanyou.qup.demo.dto.DemoDTO">
        select
        <include refid="DtoBaseColumnSql"/>
        from demo t1
        where t1.id = #{id}
    </select>

    <select id="selectByIds" parameterType="string" resultType="com.quanyou.qup.demo.dto.DemoDTO">
        select
        <include refid="DtoBaseColumnSql"/>
        from demo t1
        where t1.id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="queryByParams" resultType="com.quanyou.qup.demo.dto.DemoDTO">
        select
        <include refid="DtoBaseColumnSql"/>
        from demo t1
    </select>
</mapper>